@font-face {
  font-family: 'fontello';
  src: url('../../font/fontello.eot?24010091');
  src: url('../../font/fontello.eot?24010091#iefix') format('embedded-opentype'),
       url('../../font/fontello.woff?24010091') format('woff'),
       url('../../font/fontello.ttf?24010091') format('truetype'),
       url('../../font/fontello.svg?24010091#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24010091#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\e800'; } /* '' */
.icon-minus:before { content: '\e801'; } /* '' */
.icon-save:before { content: '\e802'; } /* '' */
.icon-forward:before { content: '\e803'; } /* '' */
.icon-add-movie:before { content: '\e804'; } /* '' */
.icon-popcorn:before { content: '\e805'; } /* '' */
.icon-director:before { content: '\e806'; } /* '' */
.icon-studio:before { content: '\e807'; } /* '' */
.icon-back:before { content: '\e808'; } /* '' */
.icon-view:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-delete:before { content: '\e80b'; } /* '' */
.icon-view-user:before { content: '\e80c'; } /* '' */
.icon-delete-user:before { content: '\e80d'; } /* '' */
.icon-music:before { content: '\e80e'; } /* '' */
.icon-view-movie:before { content: '\e80f'; } /* '' */
.icon-viewed:before { content: '\e810'; } /* '' */
.icon-producer:before { content: '\e811'; } /* '' */
.icon-script:before { content: '\e812'; } /* '' */
.icon-tags:before { content: '\e813'; } /* '' */
.icon-admin:before { content: '\e814'; } /* '' */
.icon-bluray:before { content: '\e815'; } /* '' */
.icon-digital:before { content: '\e816'; } /* '' */
.icon-person:before { content: '\e817'; } /* '' */
.icon-comm:before { content: '\e818'; } /* '' */
.icon-delete-movie:before { content: '\e819'; } /* '' */
.icon-movie:before { content: '\e81a'; } /* '' */
.icon-star:before { content: '\e81b'; } /* '' */
.icon-star-half:before { content: '\e81c'; } /* '' */
.icon-character:before { content: '\e81d'; } /* '' */
.icon-loading:before { content: '\e81e'; } /* '' */
.icon-rebel:before { content: '\e81f'; } /* '' */
.icon-add-user:before { content: '\e820'; } /* '' */
.icon-empire:before { content: '\e821'; } /* '' */
.icon-calendar:before { content: '\e822'; } /* '' */
.icon-home:before { content: '\e823'; } /* '' */
.icon-mail:before { content: '\e824'; } /* '' */
.icon-edit-user:before { content: '\e825'; } /* '' */
.icon-success:before { content: '\e826'; } /* '' */
.icon-fail:before { content: '\e827'; } /* '' */
.icon-edit-movie:before { content: '\e828'; } /* '' */
.icon-dvd:before { content: '\e829'; } /* '' */
.icon-genre:before { content: '\e82a'; } /* '' */
.icon-facebook:before { content: '\e82b'; } /* '' */
.icon-info:before { content: '\e82c'; } /* '' */
.icon-actor:before { content: '\e82d'; } /* '' */
.icon-writer:before { content: '\e82e'; } /* '' */
.icon-share:before { content: '\e82f'; } /* '' */