@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Philosopher';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Philosopher-Bold.ttf');
}
