$widths : 100%, 50%, 33.33333%, 25%, 20%, 16.66667%, 14.28571%, 12.5%, 11.11111%, 10%, 9.09091%, 8.33333%;
$blocks : xs, sm, md, lg;
$media  : 0px, 768px, 992px, 1200px;

$main-font  : "Raleway", Arial, sans-serif;
$header-font : "Philosopher", Arial, sans-serif;
$subheader-font : "Arimo", Arial, sans-serif;
$image-shadow : 1px 1px 4px #555;
$border-color : #999;
$transition: all 0.3s;

/*
|----------------------------------------------------------------------
|  Block Grid, based on Foundation 5
|----------------------------------------------------------------------
*/
[class*="block-grid-"] {

   display: block;
   padding: 0;
   margin: 0;


   :before, :after {
      content: " ";
      display: table;
   }

   :after { clear: both; }
    > li {
      display: block;
      float: left;
      height: auto;
      padding: 0.5em;
      margin-bottom: 0.5em;
   }
}


@mixin button-outline-variant($color) {

   color: $color;
   background-image: none;
   background-color: transparent;
   border-color: $color;
   transition: $transition;

   &:focus, &.focus, &:active, &.active, .open > &.dropdown-toggle {
      color: #fff;
      background-color: $color;
      border-color: $color;
   }

   &:hover {
      color: #fff;
      background-color: $color;
      border-color: $color;
      transition: $transition;
      }

   &.disabled, &:disabled {
      &:focus, &.focus {
         border-color: lighten($color, 20%);
      }

      &:hover {
         border-color: lighten($color, 20%);
      }
   }

}


@mixin column-width($num) {
   list-style: none;
   width: nth($widths, $num);
}


@for $x from 1 through 4 {
   @media( min-width: #{nth($media, $x)} ) {
      @for $y from 1 through 12 {
         .#{nth($blocks, $x)}-block-grid-#{$y} > li {
            @include column-width($y);
            :nth-of-type(1n) { clear: none; }
            :nth-of-type(#{$y}n+1) { clear: both; }
         }
      }
   }
}


/*
|----------------------------------------------------------------------
|  Bootstrap 4 Button Outline
|----------------------------------------------------------------------
*/

$brand-primary: #0275d8;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

.btn-primary-outline {
   @include button-outline-variant($brand-primary);
}
.btn-info-outline {
   @include button-outline-variant($brand-info);
}
.btn-success-outline {
   @include button-outline-variant($brand-success);
}
.btn-warning-outline {
   @include button-outline-variant($brand-warning);
}
.btn-danger-outline {
   @include button-outline-variant($brand-danger);
}

/*
|----------------------------------------------------------------------
|  Main Styling
|----------------------------------------------------------------------
*/

body {
  font-family: $main-font;
  font-size: 15px;
}

h1 {
   font-family: $header-font;
   font-size: 40px;
   margin: 10px 0 15px 0;
   border-bottom: 1px solid $border-color;
}
h2, h3, h4, h5 {
   font-family: $subheader-font;
   margin: 10px 0 15px 0;
   border-bottom: 1px solid $border-color;
}

hr {
 border-top: 1px solid $border-color;
}

div.margin-bottom {
   margin-bottom: 2rem;
}

div.main-title {
   padding-top: 80px
}

.navbar-default a.navbar-brand {
   font-family: $header-font;
   color: #0a506c;
   font-size: 27px;
   margin-right: 25px;
   margin-top: 3px;
}

.navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand:focus {
   color: #085878;
}

/*
|----------------------------------------------------------------------
|  Movies Index Page
|----------------------------------------------------------------------
*/


li.movie {

   a {
      display:block;
      text-decoration:none;
      color:#202020;
   }

   img {
      margin-bottom: 0.7em;
      box-shadow: $image-shadow;
   }

   span {
      display: block;
      font-size: 0.8em;
      text-align: center;
      height: 3em;
   }

}



/*
|----------------------------------------------------------------------
|  Movie Details Page
|----------------------------------------------------------------------
*/


div.movie {

   .row {
      margin-bottom: 0.5em
   }

   p {
      margin-bottom: 20px
   }

   a {
      text-align: left;

      i {
         margin-top: 4px;
         margin-right: 1em;
      }

   }

   img {
      margin: 0.5em 0;
      box-shadow: $image-shadow;
   }

   span.rating-display {
      color: #f1de35;
      font-size: 1.2em;
      margin-left: -4px;

      i {
         cursor:default;
      }
   }

}

/*
|----------------------------------------------------------------------
|  Fontello
|----------------------------------------------------------------------
*/
