$widths : 100%, 50%, 33.33333%, 25%, 20%, 16.66667%, 14.28571%, 12.5%, 11.11111%, 10%, 9.09091%, 8.33333%;
$blocks : xs, sm, md, lg;
$media  : 0px, 768px, 992px, 1200px;

$main-font  : "Raleway", Arial, sans-serif;
$header-font : "Philosopher", Arial, sans-serif;
$subheader-font : "Arimo", Arial, sans-serif;
$image-shadow : 1px 1px 4px #555;
$border-color : 1px solid #999;
$transition: all 0.3s;

// bootstrap colours
$brand-primary: #0275d8; // blue
$brand-success: #5cb85c; // green
$brand-info: #5bc0de; // light blue
$brand-warning: #f0ad4e; // light orange
$brand-danger: #d9534f; // red

$movie-link: #d1a70f; // gold
$people-link: #356DE3; // blue
$character-link: #F13224; // red
$admin-link: #009926; // green
$login-link: #000000; // black
$logout-link: #000000; // black

$star-rating: #F1DE35;
$main_actor: #3DB5DB;
$required: #c81d1d;


/*
|----------------------------------------------------------------------
|  Animation
|----------------------------------------------------------------------
*/


@for $x from 1 through 4 {
   .ft-#{$x}x {
      font-size: #{$x}em;
   }
}

.ft {
   cursor: pointer;
}

.spin {
   display: block;
   -webkit-animation: fa-spin 2s infinite linear;
   animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes fa-spin-rev {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

/*
|----------------------------------------------------------------------
|  Switches
|----------------------------------------------------------------------
*/


.switch {
   border: none;
   position: relative;
   border-radius: 1000px;

   label {
      display: block;
      margin-bottom: 1em;
      position: relative;
      color: transparent;
      background: #dddddd;
      width: 4em;
      height: 2em;
      cursor: pointer;
      transition: left 0.15s ease-out;
      border-radius: 2em;

      &:after {
         content: "";
         display: block;
         background: white;
         position: absolute;
         top: 0.4em;
         left: .25em;
         width: 1.2em;
         height: 1.2em;
         -webkit-transition: left 0.15s ease-out;
         -moz-transition: left 0.15s ease-out;
         transition: left 0.15s ease-out;
         -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
         border-radius: 2em;
      }
   }

   input {
      opacity: 0;
      position: absolute;
      top: 9px;
      left: 10px;
      padding: 0;

      + label {
         margin-left: 0;
         margin-right: 0;
      }

      &:checked + label {
         background: $brand-info;

         &:after {
            left: 2.6em;
         }
      }
   }
}


/*
|----------------------------------------------------------------------
|  Block Grid, based on Foundation 5
|----------------------------------------------------------------------
*/

[class*="block-grid-"] {

   display: block;
   padding: 0;
   margin: 0;


   :before, :after {
      content: " ";
      display: table;
   }

   :after { clear: both; }
    > li {
      display: block;
      float: left;
      height: auto;
      padding: 0.2em 0.5em;
   }
}


@mixin button-outline-variant($color) {

   color: $color;
   background-image: none;
   background-color: transparent;
   border-color: $color;
   transition: $transition;

   &:focus, &.focus, &:active, &.active, .open > &.dropdown-toggle {
      color: #fff;
      background-color: $color;
      border-color: $color;
   }

   &:hover {
      color: #fff;
      background-color: $color;
      border-color: $color;
      transition: $transition;
      }

   &.disabled, &:disabled {
      &:focus, &.focus {
         border-color: lighten($color, 20%);
      }

      &:hover {
         border-color: lighten($color, 20%);
      }
   }

}


@mixin column-width($num) {
   list-style: none;
   width: nth($widths, $num);
}


@for $x from 1 through 4 {
   @media( min-width: #{nth($media, $x)} ) {
      @for $y from 1 through 12 {
         .#{nth($blocks, $x)}-block-grid-#{$y} > li {
            @include column-width($y);
            :nth-of-type(1n) { clear: none; }
            :nth-of-type(#{$y}n+1) { clear: both; }
         }
      }
   }
}


/*
|----------------------------------------------------------------------
|  Bootstrap 4 Button Outline
|----------------------------------------------------------------------
*/

.btn-primary-outline {
   @include button-outline-variant($brand-primary);
}
.btn-info-outline {
   @include button-outline-variant($brand-info);
}
.btn-success-outline {
   @include button-outline-variant($brand-success);
}
.btn-warning-outline {
   @include button-outline-variant($brand-warning);
}
.btn-danger-outline {
   @include button-outline-variant($brand-danger);
}

/*
|----------------------------------------------------------------------
|  Main Styling
|----------------------------------------------------------------------
*/

.doc-loader {
   background-color: #444;
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9999;

   .loader {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -60%);

      img {
         width:100%;
      }
   }
}

body {
   font-size: 15px;
   font-family: $main-font;
   margin-top: 91px;
}

h1 {
   margin: 10px 0 15px 0;
   font-family: $header-font;
   border-bottom: $border-color;
}

h2, h3, h4, h5 {
   margin: 10px 0 15px 0;
   font-family: $subheader-font;
   border-bottom: $border-color;
}

a:focus {
   outline: 0;
}

hr {
   border-top: $border-color;
}

textarea {
   resize: none;
}

div.margin-bottom {
   margin-bottom: 1em;
}

p {
   &.error-quote {
      font-size: 2.4em;
      font-style: italic;
   }

   &.error-link {
      text-align: right;
   }

}

.navbar {
   min-height: auto;
   margin-bottom: 0;
   position: fixed;
}

.navbar-fixed-top {
   border-width: 0px;
}

.navbar-default {

   a.navbar-brand {
      color: #0a506c;
      margin-top: 2px;
      font-size: 1.4em;
      margin-right: 40px;
      padding: 10px;
      height: auto;
      font-family: $header-font;
   }

   &:hover, &:focus {
      color: #085878;
   }

   @media screen and (max-width:767px) {
      .navbar-collapse {
         background: #777;

         ul li a {
            color: #fff;
         }
      }
   }

   li{

      a {
         padding-top: 10px;
         padding-bottom: 10px;
      }

      &.movies {
         &-active a {
            color:#222;
            i {
               color: $movie-link;
               &:hover { color: $movie-link; }
            }
         }
         &-normal a:hover i { color: $movie-link; }
      }

      &.people {
         &-active a {
            color:#222;
            i {
               color: $people-link;
               &:hover { color: $people-link; }
            }
         }
         &-normal a:hover i { color: $people-link; }
      }

      &.character {
         &-active a {
            color:#222;
            i {
               color: $character-link;
               &:hover { color: $character-link; }
            }
         }
         &-normal a:hover i { color: $character-link; }
      }

      &.admin {
         &-active a {
            color:#222;
            i {
               color: $admin-link;
               &:hover { color: $admin-link; }
            }
         }
         &-normal a:hover i { color: $admin-link; }
      }

      &.login {
         &-active a {
            color:#222;
            i {
               color: $login-link;
               &:hover { color: $login-link; }
            }
         }
         &-normal a:hover i { color: $login-link; }
      }

      &.logout {
         &-active a {
            color:#222;
            i {
               color: $logout-link;
               &:hover { color: $logout-link; }
            }
         }
         &-normal a:hover i { color: $logout-link; }
      }

      &.searchbar {
         padding: 10px 25px 10px 20px;
      }

   }

}

div.search-bar-container {
   top: 44px;
   width: 100%;
   z-index: 1031;
   position: fixed;
   padding: 6px 0 6px;
   background: #e8e8ef;
   border-top: 1px solid #c8c8cf;
   border-bottom: 1px solid #c8c8cf;

   @media screen and (max-width:767px) {
      top: 53px;
   }

   a {
      padding: 0 6px;
      line-height: 1.5;
      margin: 1px 10px -6px 0;
      text-decoration: none;

      span {
         position: relative;
         top: -2px
      }

      i::before {
         margin-left: 0.1em;
      }

   }

   #filter-movie-start {
      width: 4em;
   }

   #filter-movie-options {
      border-left: 1px solid #32a4c6;
   }

   ul.dropdown-menu {
      padding-top: 9px;

      &> li {

         &> a {
            padding: 0.5em 6px;
         }
      }

   }

}

div.main-content {
   margin-top: 15px;
}

div.feature-content {
   color: #f0f0f0;
   background: url(../../images/matrix.jpg);
   background-size: cover;
   padding: 70px 0;

   a i {
      box-shadow: 0px 0px 10px #666;
      border-radius: 10px;
   }

}

.pagination {
   margin: 0;
}

.tab-content {
   margin-top: 20px;
}

.modal-content {

   .modal-header {
      border-bottom: none;
      border-radius: 6px 6px 0 0;
   }

   .modal-body {
      padding: 0 25px;

      p {
         margin-bottom: 15px;
      }

   }

   .modal-footer {
      border-top: none;
   }

}
.modal-open {
   padding-right: 0 !important;
}

footer {
   color: #f2f2f2;
   padding: 20px 0;
   background: #121222;
   border-top: 10px double #fff;

   a {
      color: #7575c3;

      &:hover {
         color: #f2f2f2;
      }
   }

}


span.rating-display {
   color: $star-rating;
   font-size: 1.2em;
   margin-left: -4px;

   &.top-rated {
      color: $star-rating;
   }

   i {
      cursor:default;
      &:before {
         text-align: left;
      }

   }

}

.canvasjs-chart-credit {
   display: none;
}

div.top-rated, div.lowest-rated {

   a {
      display: block;
      padding: 0.5em 0;
   }

   span.rating-display {
      display: block;
      padding: 0.3em 0;
   }

}

div.purchased-content {
   background: url(../../images/237.png) top left no-repeat;
   background-size: cover;
   padding: 40px 0 60px;
   color: #f0f0f1;

   .slick-slider {
      margin: 0;

      .slick-slide {

         img {
            padding: 0;
            width: 96%;
         }

      }

   }

}

div.ratings-content {

   #ratingChart {
      padding-top: 25px;
   }

}

.image-thumbnail {

   a {
      display: block;
      color: #202020;
      text-decoration: none;
   }

   img {
      margin-bottom: 0.5em;
      box-shadow: $image-shadow;
   }

   span.title-wrapper {
      height: 3.5em;
      line-height: 1;
      display: block;
      font-size: 0.8em;
      text-align: center;
   }

}

div.movie {

   .row {
      margin-bottom: 1em;

      &.form-group.has-error {
         margin-bottom: 3px;
      }

      &.has-error {

         label.control-label {
            font-size: 13px;
         }

      }
   }

   h2 {
      font-family: $header-font;
   }

   p {
      margin: 20px 0;
      line-height: 27px;
   }

   .side-buttons {

      a {
         text-align: left;

         i {
            margin-right: 0.7em;
            display: inline-block;
         }

      }
   }

   img {
      margin: 0.5em 0;
      box-shadow: $image-shadow;
   }

   span {

      &.input-group-addon {
         cursor: pointer;
      }

   }

   input[type="file"] {
      display: inline-block;
      width: 98%;
   }

}

span {

   &.required {
      color: $required;
      font-family: Arial;
   }
}

.frame {
   width: 100%;
   height: 225px;
   padding: 0;

   .slidee {
      margin: 0;
      padding: 0;
      height: 100%;
      list-style: none;

      li {
         float: left;
         margin: 0 8px;
         padding: 0;
         width: 120px;
         height: 100%;
      }

      @media screen and (max-width:767px) {
         li {
            float: left;
            margin: 0 8px;
            padding: 0;
            width: 100px;
            height: 100%;
         }
      }
   }
}

.scrollbar {
   width: 100%;
   height: 2px;
   margin: 10px 0;

   .handle {
       width: 100px;
       height: 100%;
       background: #999;
       border-radius: 100px;
   }

}

.pages {
    list-style: outside none none;
    margin: 5px 0 10px;
    padding: 0;
    text-align: center;
}

.pages li {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin: 0 4px;
    overflow: hidden;
    text-indent: -999px;
    width: 14px;
}

.pages li:hover {
    background: #aaa none repeat scroll 0 0;
}

.pages li.active {
    background: #666 none repeat scroll 0 0;
}


label.main_actor,label.main_star {
    color: #666666;
    cursor: pointer;
    padding-left: 2.2em;
    position: relative;
}

label.main_actor::before, label.main_actor::after,
label.main_star::before, label.main_star::after {
    font-family: Fontello;
    font-size: 2.4rem;
    left: 0;
    position: absolute;
    top: -9px;
}
label.main_actor::before,label.main_star::before {
    content: "\e835";
}

label.main_actor::after,label.main_star::after {
    content: "\e836";
    max-width: 0;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

input#main_actor[type="checkbox"],input#main_star[type="checkbox"] {
    display: none;
}

input#main_actor[type="checkbox"]:checked + label.main_actor::before,
input#main_star[type="checkbox"]:checked + label.main_star::before {
    color: #fff;
}

input#main_actor[type="checkbox"]:checked + label.main_actor::after,
input#main_star[type="checkbox"]:checked + label.main_star::after {
    color: $main_actor;
    max-width: 2.4rem;
}

i.main_actor,i.main_star {
   color: $main_actor;
   cursor: pointer;
}

.admin-side-links {

   a {
      display: block;
      margin: 0.75em 0;
   }

}

@media (min-width: 768px) and (max-width: 991px) {
   #left-hand-column {
      position: fixed;
      width: 188px;
   }

   .admin-side-links {
      position: fixed;
   }

}


@media (min-width: 992px) and (max-width: 1199px) {
   #left-hand-column {
      position: fixed;
      width: 242px;
   }

   .admin-side-links {
      position: fixed;
   }

}

/*
|----------------------------------------------------------------------
|  Fontello
|----------------------------------------------------------------------
*/
